<nav class="onglets">

    <a *ngIf="roleConnecte !== 'SECRETAIRE'" (click)="ongletActif = 'utilisateur'"
        [ngClass]="{ 'active': ongletActif === 'utilisateur' }" class="nav-link">
        👤 Utilisateur</a>

    <a (click)="ongletActif = 'config'" [ngClass]="{ 'active': ongletActif === 'config' }" class="nav-link"> <i
            class="fas fa-cog"></i>    Configuration</a>

    <a (click)="ongletActif = 'importation'" [ngClass]="{ 'active': ongletActif === 'scolarite' }"
        class="nav-link">📂  Importation</a>

</nav>




<div class="container" *ngIf="ongletActif === 'utilisateur' && roleConnecte !== 'SECRETAIRE'">
    <div class="left-box">
        <h4>{{ isEditMode ? 'Modifier un utilisateur' : 'Ajouter un utilisateur' }}</h4>
        <form #formUser="ngForm" (ngSubmit)="isEditMode ? modifierUtilisateur() : ajouterUtilisateur()">
            <div class="form-group">
                <label for="roleUser">Rôle :</label>
                <select id="roleUser" [(ngModel)]="credentials.role" name="role" required>
                    <option value="" disabled selected>Sélectionnez un rôle</option>
                    <option *ngFor="let r of roles" [value]="r">{{ r | titlecase }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="emailUser">Nom :</label>
                <input type="text" id="emailUser" [(ngModel)]="credentials.email" name="email" required>
            </div>

            <div class="form-group">
                <label for="passwordUser">Mot de passe :</label>
                <input [type]="passwordVisible ? 'text' : 'password'" id="passwordUser"
                    [(ngModel)]="credentials.password" name="password" required autocomplete="off">
            </div>

            <div class="form-group">
                <label for="confirmPasswordUser">Confirmer le mot de passe :</label>
                <input [type]="passwordVisible ? 'text' : 'password'" id="confirmPasswordUser"
                    [(ngModel)]="credentials.confirmPassword" name="confirmPassword" required autocomplete="off">
            </div>



            <button type="submit" class="submit-btn"
                [disabled]="!formUser.valid || credentials.password !== credentials.confirmPassword">
                {{ isEditMode ? 'Mettre à jour' : 'S\'inscrire' }}
            </button>

            <div *ngIf="credentials.password && credentials.confirmPassword && credentials.password !== credentials.confirmPassword"
                style="color: red;">
                Les mots de passe ne correspondent pas.
            </div>
        </form>
    </div>

    <div class="right-box">
        <h4>Gestion des Utilisateurs</h4>
        <table *ngIf="utilisateurs.length > 0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Rôle</th>
                    <th>Nom</th>
                    <th>Mdp</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of utilisateurs; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ u.role }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.password }}</td>

                    <td>
                        <button class="btn btn-sm btn-warning me-2" (click)="remplirFormulairePourModification(u, i)">
                            <i class="fas fa-edit"></i>
                        </button>
                        <br>
                        <button class="btn btn-sm btn-danger" (click)="supprimerUtilisateur(i)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>


                </tr>
            </tbody>
        </table>
        <p *ngIf="utilisateurs.length === 0">Aucun utilisateur trouvé.</p>
    </div>
</div>

<div class="container" *ngIf="ongletActif === 'config'">
    <div class="left-box">
        <!-- Logo de l'organisation -->
        <div *ngIf="organisation.logoUrl" class="preview-logo">
            <img [src]="organisation.logoUrl" alt="Logo organisation" style="max-width:150px;">
        </div>
    </div>

    <div class="right-box">
        <h4>Aperçu de l'organisation</h4>
        <div class="preview-box" *ngIf="organisation.nom ">
            <p><strong>Nom :</strong> {{ organisation.nom }}</p>
            <p><strong>Adresse :</strong> {{ organisation.adresse }} </p>
            <p><strong>Téléphone1 :</strong> {{ organisation.tel1 }}</p>
            <p><strong>Téléphone2 :</strong> {{ organisation.tel2 }}</p>
        </div>
        <p *ngIf="!organisation.nom && !organisation.tel1">Aucune information enregistrée.</p>
    </div>
</div>



<div class="container" *ngIf="ongletActif === 'importation' ">

    <div class="section">
        <h3 class="section-title">Importer des produits</h3>
        <p class="section-desc">
            Ajoutez ou mettez à jour des produits en masse à partir d'un fichier Excel (.xlsx, .csv).
        </p>

        <label class="btn-upload">
            📂 Importer un fichier
            <input type="file" hidden accept=".xlsx,.csv" />
        </label>
    </div>
</div>